
div.post{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 0 0 1em 0;

}
a{
  width: calc(90% - 7em);/* calc(90% - 7em); */
  padding-left: 2em;
}


img{
  width:  5em;
}
