
div.post{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 5em;
  padding: 0 0 1em 0;

}
a{
  width: calc(90% - 7em)
  padding-left: 2em;
}


img{
  height:  100%;
}
