html {
  color: #ffffff;
  font-size: 1em;
  line-height: 1.4;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #464646; /*#f8f1e4;*/
}

a{
  width: calc(90% - 7em);
  padding-left: 1em;
}

a:link {
  color: #75d5ff; /*#0082b2;*/
}
a:visited {
  color: #75d5ff; /*#0082b2;*/
}