html {
  color: #ffffff;
  font-size: 1em;
  line-height: 1.4;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #464646; /*#f8f1e4;*/
    margin: 1em;
}

a:link {
  color: #75d5ff; /*#0082b2;*/
}
a:visited {
  color: #75d5ff; /*#0082b2;*/
}

div.content_container{
  display: block;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}

div.banner{
  color: #000000;
  background-color: #fbc30a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}
