body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #f8f1e4;
    /*
    padding: 1em;
    font-weight: 350;
    */

}

div{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;

  width: 100%;
  padding: 1em;
  /*
  border: 1px solid #0082b2;
  */
}

img{
  width:  3em;
}

a{
  padding-left: 1em;
}

a:link {
  color: #0082b2;
}
a:visited {
  color: #0082b2;
}