body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #f8f1e4;
    padding: 1em;
    /* font-weight: 350; */

}
a{
  white-space: nowrap; 
  overflow-x: hidden;
  text-overflow: ellipsis;

  width: 75vw;
  border: .25em;
  border-color: #0082b2;
}
a:link {
  color: #0082b2;
}
a:visited {
  color: #0082b2;
}