body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #f8f1e4;
    /* padding: 32px;
    font-weight: 350; */

}
a:link {
  color: #0082b2;
}
a:visited {
  color: #0082b2;
}