<!doctype html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8">
    <title class="usesTitle">create writing</title>
    <meta name="description" content="description-placeholder">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaf.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">

    <meta name="theme-color" content="#464646">
</head>
<body>
    <div class="content_container">
      <a class="nav-back" href="/w">‹</a>
        <h1>create writing</h1>

        <form method="post" action="/w/save-writing">
            <label for="name">name:</label><br>
            <input class="create-field" type="text" id="name" name="name"><br><br>

            <label for="image">image:</label><br>
            <input class="create-field" type="text" id="image" name="image"><br><br>

            <label for="writing">writing:</label><br>
            <textarea id="writing" name="writing" rows="10"></textarea><br><br>

            <label for="description">description:</label><br>
            <input class="create-field" type="text" id="description" name="description"><br><br>

            <input type="submit" value="submit">
        </form>

    </div>
</body>
</html>