<!doctype html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8">
    <title class="usesTitle">create living_thing</title>
    <meta name="description" content="description-placeholder">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaf.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">

    <meta name="theme-color" content="#464646">
</head>
<body>
    <div class="content-container">
      <a class="nav-back" href="/l">‹</a>
        <h1>create living_thing</h1>

        <form method="post" action="/l/save-living_thing">
            <label for="name">name:</label><br>
            <input class="create-field" type="text" id="name" name="name"><br><br>

            <label for="scientificname">scientific name:</label><br>
            <input class="create-field" type="text" id="scientificname" name="name_scientific"><br><br>

            <label for="description">description:</label><br>
            <input class="create-field" type="text" id="description" name="description"><br><br>

            <label for="latitude">latitude (degrees):</label><br>
            <input class="create-field" type="text" id="latitude" name="lat_deg"><br><br>

            <label for="longitude">longitude (degrees):</label><br>
            <input class="create-field" type="text" id="longitude" name="long_deg"><br><br>

            <label for="elevation">elevation (meters):</label><br>
            <input class="create-field" type="text" id="elevation" name="elev_m"><br><br>

            <label for="time">date and time:</label><br>
            <input class="create-field" type="text" id="time" name="time_s"><br><br>

            <input type="submit" value="submit">
            <!--
            <label for="image">image:</label><br>
            <input class="create-field" type="text" id="image" name="image"><br><br>
            -->
        </form>

    </div>
</body>
</html>