<!doctype html>
<html class="no-js" lang="en-US">

<head>
  <meta charset="utf-8">
  <title>creatures</title>
  <meta name="description" content="creatures">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="creatures">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://scottzmuda.com/c">
  <meta property="og:image" content="https://scottzmuda.com/i/twitter-default-summary-card-image-1024x1024.png">

  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='assets/images/icon.png') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/branch.css') }}">

  <meta name="theme-color" content="#464646">
  <!--(for pwa true fullscreen effect)
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  -->
</head>
<body>
  <div class="content-container">

    <a class="nav-back" href="/">‹</a>
    <a class="nav-create" href="/c/create-creature">+</a>
    
    <div class="dex-header">
      <div class="dex-header-name">
        <h1>creatures</h1>
      </div>
    </div>

    {% for creature in creatures %}
    <div class="item">
      <div class="item-image">
        <img class="item-image" src="{{ url_for('static', filename='i/') }}{{creature.url_string}}.jpeg">
      </div>
      <div class="item-name">
        <a href='../c/{{creature.url_string}}'>{{creature.name}}</a>
      </div>
    </div>
    {% endfor %}
  </body>