<!doctype html>
<html class="no-js" lang="en-US">

<head>
  <meta charset="utf-8">
  <title>creatures</title>
  <meta name="description" content="creatures">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="creatures">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://scottzmuda.com/c">
  <meta property="og:image" content="https://scottzmuda.com/i/twitter-default-summary-card-image-1024x1024.png">

  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='assets/images/icon.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/branch.css') }}">

  <meta name="theme-color" content="#464646">
  <!--(for pwa true fullscreen effect)
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  -->
</head>
<body>
  <div class="content_container">
    <a class="nav" href="/">home</a>
    <h1 class="usesTitle">creatures</h1>

    {% for creature in creatures %}
    <div class="post">
      <img class="postImage" src="../i/2022-11-26-bay-scallop.jpeg">
      <a href='../c/{{creature.id}}'>{{creature.name}}</a>
    </div>
    {% endfor %}

    <!-- COMMENT OUT UNTIL WE DECIDE HOW TO STORE IMAGES -->
    <!-- <div class="post">
      <img class="postImage" src="../i/2022-11-26-bay-scallop.jpeg">
      <a href='../c/2022-11-26-bay-scallop'>bay scallop</a>
    </div>
    <div class="post">
      <img class="postImage" src="../i/2022-11-26-shark-eye.jpeg">
      <a href='../c/2022-11-26-shark-eye'>shark eye</a>
    </div>
    <div class="post">
      <img class="postImage" class="postImage" src="../i/2022-11-26-speckled-swimming-crab.jpeg">
      <a href='../c/2022-11-26-speckled-swimming-crab'>speckled swimming crab</a>
    </div>
    <div class="post">
      <img class="postImage" src="../i/2022-11-25-atlantic-ghost-crab.jpeg">
      <a href='../c/2022-11-25-atlantic-ghost-crab'>atlantic ghost crab</a>
    </div>
    <div class="post">
      <img class="postImage" src="../i/2022-11-25-coquina.jpeg">
      <a href='../c/2022-11-25-coquina'>coquina</a>
    </div>
    <div class="post">
      <img class="postImage" src="../i/2022-11-18-white-tailed-deer.jpeg">
      <a href='../c/2022-11-18-white-tailed-deer'>white-tailed deer</a>
    </div>
    <div class="post">
      <img class="postImage" src="../i/2022-11-11-great-mullein.jpeg">
      <a href='../c/2022-11-11-great-mullein'>great mullein</a>
    </div>
    <div class="post">
      <img class="postImage" src="../i/2022-09-04-partridge-pea.jpeg">
      <a href='../c/2022-09-04-partridge-pea'>partridge pea</a>
    </div> -->
  </div>
</body>

</html>
