<!doctype html>
<html class="no-js" lang="en-US">

<head>
  <meta charset="utf-8">
  <title>living things</title>
  <meta name="description" content="living_things">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="living things">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://scottzmuda.com/l">
  <meta property="og:image" content="https://scottzmuda.com/i/twitter-default-summary-card-image-1024x1024.png">

  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='assets/images/icon.png') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/branch.css') }}">

  <!-- THEME COLORS -->
  <meta name="color-scheme" content="light dark">
  <meta name="theme-color" content="#e8e2d5" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#464646" media="(prefers-color-scheme: dark)">
</head>
<body>
  <article class="article-grid">
    <div class="top">
      <h1>living things</h1>
            <nav>
                {% if "creator_id" in session %}
                <a class="nav-create" href="/w/create-living_thing">&#x2295;&#xFE00;</a>
                {% endif %}
                <a class="close-page" href="/">&#x2297;&#xFE00;</a>
            </nav>
    </div>
    {% for living_thing in living_things %}
    <a class="content" href='../l/{{living_thing.url_string}}'>
      <div class="content-image-container">
        <img class="content-image" src="{{ url_for('static', filename='i/') }}{{living_thing.image}}">
      </div>
      <div class="content-name">{{living_thing.common_name}}
      </div>
    </a>
    {% endfor %} 
  </article>
</body>
</html>