<!doctype html>
<html class="no-js" lang="en-US">

<head>
  <meta charset="utf-8">
  <title>writings</title>
  <meta name="description" content="writings">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="scott's website">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://scottzmuda.com/w">
  <meta property="og:image" content="https://scottzmuda.com/i/twitter-default-summary-card-image-1024x1024.png">

  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='assets/images/icon.png') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/branch.css') }}">

  <meta name="theme-color" content="#464646">
  <!--(for pwa true fullscreen effect)
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  -->
</head>
<body>
  <div class="content-container">

    <a class="nav-back" href="/">‹</a>
    {% if "creator_id" in session %}
    <a class="nav-create" href="/w/create-writing">&#43;&#xfe0e;</a>
    {% endif %}

    <div class="dex-header">
      <div class="dex-header-name">
        <h1>writings</h1>
      </div>
    </div>

    {% for writing in writings %}
    <div class="item">
      <div class="item-image">
        <img class="item-image" src="{{ url_for('static', filename='assets/images/fire.png') }}">
      </div>
      <div class="item-name">
        <a href='../w/{{writing.url_string}}'>{{writing.time_s}}</a>
      </div>
    </div>
    {% endfor %}
      </div>
</body>

</html>
    <!--
  <div class="content-container">

    <a class="nav-back" href="/">‹</a>
    <a class="nav-create" href="/w/create-writing">+</a>

    <h1>writings</h1>

    <div class="item">
      <div class="item-image">
        <img class="item-image" src="/i/2023-01-14.png">
      </div>
      <div class="item-name">
        <a href='/w/2023-01-14'>2023-01-14</a>
      </div>
    </div>
    <div class="item">
      <div class="item-image">
        <img class="item-image" src="/i/2022-11-03.jpeg">
      </div>
      <div class="item-name">
        <a href='/w/2022-11-03'>2022-11-03</a>
      </div>
    </div>
    <div class="item">
      <div class="item-image">
        <img class="item-image" src="/i/2022-08-20.jpeg">
      </div>
      <div class="item-name">
        <a href='/w/2022-08-20'>2022-08-20</a>
      </div>
    </div>
    <div class="item">
      <div class="item-image">
        <img class="item-image" src="/i/2022-07-30.jpeg">
      </div>
      <div class="item-name">
        <a href='/w/2022-07-30'>2022-07-30</a>
      </div>
    </div>
    <div class="item">
      <div class="item-image">
        <img class="item-image" src="/i/2022-07-28.jpeg">
      </div>
      <div class="item-name">
        <a href='/w/2022-07-28'>2022-07-28</a>
      </div>
    </div>
    <div class="item">
      <div class="item-image">
        <img class="item-image" src="/i/2022-07-07.jpeg">
      </div>
      <div class="item-name">
        <a href='/w/2022-07-07'>2022-07-07</a>
      </div>
    </div>
    <div class="item">
      <div class="item-image">
        <img class="item-image" src="/i/2022-06-08.jpeg">
      </div>
      <div class="item-name">
        <a href='/w/2022-06-08'>2022-06-08</a>
      </div>
    </div>
    <div class="item">
      <div class="item-image">
        <img class="item-image" src="/i/2022-04-29.jpeg">
      </div>
      <div class="item-name">
        <a href='/w/2022-04-29'>2022-04-29</a>
      </div>
    </div>
    <div class="item">
      <div class="item-image">
        <img class="item-image" src="/i/touch-icon-1024x1024.png">
      </div>
      <div class="item-name">
        <a href='/w/2022-03-30'>2022-03-30</a>
      </div>
    </div>
    <div class="item">
      <div class="item-image">
        <img class="item-image" src="/i/touch-icon-1024x1024.png">
      </div>
      <div class="item-name">
        <a href='/w/2022-03-23'>2022-03-23</a>
      </div>
    </div>
    <div class="item">
      <div class="item-image">
        <img class="item-image" src="/i/touch-icon-1024x1024.png">
      </div>
      <div class="item-name">
        <a href='/w/2022-03-20'>2022-03-20</a>
      </div>
    </div>
    !-->

