<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>login</title>
    <meta name="description" content="login">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="login">
    <meta property="og:type" content="article">
    <meta property="og:url" content="../c">
    <meta property="og:image" content="{{ url_for('static', filename='assets/images/fire.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaf.css') }}">

    <!-- THEME COLORS -->
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" content="#e8e2d5" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#464646" media="(prefers-color-scheme: dark)">
</head>
<body>
    <div class="content-container">
        <div class="content-grid" id="writings">
            <div class="top">
                <a class="close-page" href="/">&#x2297;&#xFE00;</a>
                <h1>login</h1>  
            </div>
            <div class="footer">
                {% with messages = get_flashed_messages(category_filter=["login"]) %}
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
                {% endwith %}  

                <form action='/c/log-creator-in' method='post'>
                    <div>
                        <label for='email'>email:</label>
                        <div>
                            <input type='text' name='email' value="{{session.email_login}}" required>
                        </div>
                    </div>
                    <div>
                        <label for='password'>password:</label>
                        <div>
                            <input type='password' name='password'required>
                        </div>
                    </div>
                    <div>
                        <div>
                            <button type="submit">login</button>
                        </div>
                    </div>
                </form>
                <!--
                <p>
                    new to scottzmuda.com? 
                    <a href="/c/registration">create an account</a>
                </p>
                -->
            </div>
        </div>
    </div>
</body>
</html>