<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>registration</title>
    <meta name="description" content="registration">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="registration">
    <meta property="og:type" content="article">
    <meta property="og:url" content="../c">
    <meta property="og:image" content="{{ url_for('static', filename='assets/images/fire.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaf.css') }}">

    <!-- THEME COLORS -->
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" content="#e8e2d5" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#464646" media="(prefers-color-scheme: dark)">
</head>
<body>
        <div>
            <a class="nav-back" href="/">‹</a>
            <h1>register</h1>
            {% with messages = get_flashed_messages(category_filter=["register"]) %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
            {% endwith %}
            <div>
                <form action='/c/register-creator' method='post'>
                    <div>
                        <label for='name'>name:</label>
                        <div>
                            <input type='text' name='name' value="{{session.name}}" required>
                        </div>
                    </div>
                    <div>
                        <label for='name_id'>name id:</label>
                        <div>
                            <input type='text' name='name_id' value="{{session.name_id}}" required>
                        </div>
                    </div>
                    <div>
                        <label for='email'>email:</label>
                        <div>
                            <input type='text' name='email' value="{{session.email}}" required>
                        </div>
                    </div>
                    <div>
                        <label for='password'>password:</label>
                        <div>
                            <input type='password' name='password' required>
                        </div>
                    </div>
                    <div>
                        <div>
                            <button type="submit">Register</button>
                        </div>
                    </div>
                </form>
            </div>
            <p>
                already have an account? 
                <a href="/c/login">login</a>
            </p>
        </div>
</body>
</html>