<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{{living_thing.species.name}}</title>
    <meta name="description" content="{{living_thing.species.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{living_thing.species.name}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="../l/">
    <meta property="og:image" content="{{ url_for('static', filename='i/' ~ living_thing.url_string ~ '.jpeg', _external=True) }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaf.css') }}">

    <meta name="theme-color" content="#464646">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="{{ url_for('static', filename='js/leaflet-providers.js') }}"></script>
</head>
<body>
    <div class="content-container">
        <div class="content-grid">

            <div class="top">
                <a class="close-page" href="/l">&#x2297;&#xFE00;</a>
                <h1>{{living_thing.species.name}}</h1>
                <em>{{living_thing.species.description}}</em>
            </div> 

            <div class="middle-left">
                <img class="feature" src="{{ url_for('static', filename='i/') }}{{living_thing.url_string}}.jpeg">
            </div>

            <div class="middle-right">
                <em>
                    {{taxon.name}}
                </em>
            </div>

            <div class="bottom-left">
                <em>
                    {{living_thing.season}}<br>
                    {{living_thing.sun_based_time}}<br>
                    {{living_thing.natural_language_latitude}}<br>
                    {{living_thing.natural_elevation}}<br>
                </em>
            </div>

            <div class="bottom-right">
                <div id="map"></div>
            </div>

        </div>
    </div>
    <script>
        var map = L.map('map',{
                zoomControl: false,
                attributionControl: false, 
                dragging: true,
                scrollWheelZoom: true, 
                center: [{{living_thing.lat_deg}}, {{living_thing.long_deg}}],
                zoom: 15
            });

        L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(map);

        var mapMarker = L.icon({
            iconUrl: '{{ url_for('static', filename='assets/images/map-marker.png') }}',
            iconSize: [50, 50],
            iconAnchor: [25, 25],
            popupAnchor: [-3, -76]
        });

        var marker = L.marker([{{living_thing.lat_deg}}, {{living_thing.long_deg}}], {icon: mapMarker}).addTo(map)
    </script>
</body>
</html>
