<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{{writing.name}}</title>
    <meta name="description" content="{{writing.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{writing.name}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="../w">
    <meta property="og:image" content="{{ url_for('static', filename='assets/images/fire.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaf.css') }}">

    <meta name="theme-color" content="#464646">

</head>
<body>
    <div class="content-container">
        <a class="nav-back" href="/w">‹</a>
        <h1>{{writing.name}}</h1>
        <h2>{{writing.time_string}}</h2>
        <p>{{writing.writing}}</p>
    </div>
</body>
</html>
