<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{{writing.name}}</title>
    <meta name="description" content="{{writing.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{writing.name}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ request.url }}">

    <meta property="og:image" content="{{ url_for('static', filename='i/' ~ writing.url_string ~ '.jpeg', _external=True) }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaf.css') }}">

    <!-- THEME COLORS -->
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" content="#e8e2d5" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#464646" media="(prefers-color-scheme: dark)">
</head>
<body>
    <article class="article-grid" id="writings">
        <div class="article-header">
            <a class="close-page" href="/w">&#x2297;&#xFE00;</a>
            <h1>{{writing.name}}</h1>
            <em>{{writing.time_string}}</em>
        </div> 
        <div class="article-image">
            <img class="feature" src="{{ url_for('static', filename='i/' ~ writing.url_string ~ '.jpeg', _external=True) }}">
        </div>
        <div class="article-body">
            {{writing.writing}}
        </div>
    </div>
</body>
</html>
