<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{{ living_thing.common_name|title }}</title>
    <meta name="description" content="{{living_thing.note}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ living_thing.common_name|title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:image" content="{{ url_for('static', filename='i/' ~ living_thing.image, _external=True) }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaf.css') }}">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="{{ url_for('static', filename='js/leaflet-providers.js') }}"></script>

    <!-- THEME COLORS -->
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" content="#e8e2d5" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#464646" media="(prefers-color-scheme: dark)">
</head>
<body>
    <article class="article-grid" id="living_things">
        <div class="article-header">
        <!--
            <nav>
                <a class="close-page" href="/">
                    &#x2297;&#xFE00;
                </a>
            </nav>
        -->
            <h1 style="text-align: center;">{{ living_thing.common_name|title }}</h1>
        </div> 
        <div class="article-image">
            <img class="feature" src="{{ url_for('static', filename='i/' ~ living_thing.image, _external=True) }}">
        </div>
        <div class="top-right">
            <!--<em>
                {% for taxon in living_thing.taxonomy|reverse %}
                    {% if not loop.last %}
                        {{taxon}}<br>
                    {% endif %}
                {% endfor %}
            </em>-->
        </div>
        <div class="bottom-left">
            <em>
                {% for taxon in living_thing.taxonomy|reverse %}
                    {% if not loop.last %}
                        {{taxon}}<br>
                    {% endif %}
                {% endfor %}
            </em>
        </div>
        <div class="bottom-right">
            <div id="map"></div>
        </div>
        <div class="bottom">
            <em>@{{living_thing.creator}} </em>|<em> {{living_thing.season}} • {{living_thing.sun_based_time}}</em><br>
            <em>{{living_thing.note}}</em>
        </div>
    </article>
    <script>
        var map = L.map('map',{
                zoomControl: false,
                attributionControl: false, 
                dragging: false,
                scrollWheelZoom: true, 
                center: [{{living_thing.lat_deg}}, {{living_thing.long_deg}}],
                zoom: 5
            });

        L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(map);

        var mapMarker = L.icon({
            iconUrl: '{{ url_for('static', filename='assets/images/map-marker.png') }}',
            iconSize: [50, 50],
            iconAnchor: [25, 25],
            popupAnchor: [-3, -76]
        });

        var marker = L.marker([{{living_thing.lat_deg}}, {{living_thing.long_deg}}], {icon: mapMarker}).addTo(map)
    </script>
</body>
</html>
