<!doctype html>
<html class="no-js" lang="en-US">

<head>
  <meta charset="utf-8">
  <title>writings</title>
  <meta name="description" content="writings">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="scott's website">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://scottzmuda.com/w">
  <meta property="og:image" content="https://scottzmuda.com/i/twitter-default-summary-card-image-1024x1024.png">

  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='assets/images/icon.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/branch.css') }}">

  <meta name="theme-color" content="#464646">
  <!--(for pwa true fullscreen effect)
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  -->
</head>
<body>
  <div class="content_container">
  <a class="nav" href="/index">home</a>
  <h1 class="usesTitle">writings</h1>
    <div class="post">
      <img src="/i/2023-01-14.png">
      <a href='/w/2023-01-14.html'>2023-01-14</a>
    </div>
    <div class="post">
      <img src="/i/2022-11-03.jpeg">
      <a href='/w/2022-11-03.html'>2022-11-03</a>
    </div>
    <div class="post">
      <img class="postImage" src="/i/2022-08-20.jpeg">
      <a href='/w/2022-08-20.html'>2022-08-20</a>
    </div>
    <div class="post">
      <img class="postImage" src="/i/2022-07-30.jpeg">
      <a href='/w/2022-07-30.html'>2022-07-30</a>
    </div>
    <div class="post">
      <img class="postImage" src="/i/2022-07-28.jpeg">
      <a href='/w/2022-07-28.html'>2022-07-28</a>
    </div>
    <div class="post">
      <img class="postImage" src="/i/2022-07-07.jpeg">
      <a href='/w/2022-07-07.html'>2022-07-07</a>
    </div>
    <div class="post">
      <img class="postImage" src="/i/2022-06-08.jpeg">
      <a href='/w/2022-06-08.html'>2022-06-08</a>
    </div>
    <div class="post">
      <img class="postImage" src="/i/2022-04-29.jpeg">
      <a href='/w/2022-04-29.html'>2022-04-29</a>
    </div>
    <div class="post">
      <img class="postImage" src="/i/touch-icon-1024x1024.png">
      <a href='/w/2022-03-30.html'>2022-03-30</a>
    </div>
    <div class="post">
      <img class="postImage" src="/i/touch-icon-1024x1024.png">
      <a href='/w/2022-03-23.html'>2022-03-23</a>
    </div>
    <div class="post">
      <img class="postImage" src="/i/touch-icon-1024x1024.png">
      <a href='/w/2022-03-20.html'>2022-03-20</a>
    </div>
  </div>
</body>

</html>
