
div.item{
  /*white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;*/
  width: 100%;
  height: 5em;
  margin: 1em 0;

}
div.item-image{
  display: inline;
  float: left;
  height: 5em;
  width: 5em;
}

div.item-name{
  display: inline;
  float: left;
  max-width: calc(100% - 5em);
  margin: 0 2em;
}

img.item-image{
  height:  100%;
}

