html {
  font-family: -apple-system-ui-serif, ui-serif, 'Georgia', serif; /*global font*/
  color: #ffffff; /*-global font color */
  font-size: 1em; /*-global font size, good practice to use 'em units' */
  line-height: 1.4em; /*-global line height, (not sure reason for 1.4) */

  user-select: none; /*-as default make nothing selectable */
  -webkit-user-select: none; /*-as default make nothing selectable (apple specific attribute) */

  background-color: #464646; /*global background color*/
}

a:link, a:visited {
  color: #75d5ff; /*global link color*/
}

body{
    margin: 1em; /*creates space between content container and edge of viewport when width=100%*/
}

div.banner{
  color: #000000;
  background-color: #45895f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.nav-back, a.nav-create{
  font-size: 2em;
  font-weight: 100;
  text-decoration: none;
}

a.nav-create{
    float: right;
}

h1{
  line-height: 1.4em; /*might be unnecessary*/
}

div.content-container{
  display: inline-block;
  width: 100%; /*default behavior is for element to take 100% of width*/
  max-width: 650px; /*if available space is >650px width no longer is 100%*/
  margin: 0 auto; /*auto margin for left and right allows element to be centered when width=650px*/
}


