html {
  font-family: -apple-system-ui-serif, ui-serif, 'Georgia', serif; /*global font*/
  color: #ffffff; /*-global font color */
  font-size: 1em; /*-global font size, good practice to use 'em units' */
  line-height: 1.4em; /*-global line height, (not sure reason for 1.4) */

  user-select: none; /*-as default make nothing selectable */
  -webkit-user-select: none; /*-as default make nothing selectable (apple specific attribute) */

  background-color: #464646; /*global background color*/
}

body{
    margin: 1em;
}
h1{
  line-height: 1.4em;
}
a:link, a:visited {
  color: #75d5ff;
}

div.content_container{
  display: block;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}

div.banner{
  color: #000000;
  background-color: #45895f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.nav-back{
  padding-left: 0em;
  font-size: 2em;
  font-weight: 100;
  text-align: left;
  text-decoration: none;
}

a.nav-create{
    font-size: 2em;
    font-weight: 100;
    text-align: right;
    text-decoration: none;
    float: right;
}
