html {
  font-family: -apple-system-ui-serif, ui-serif, 'Georgia', serif; /*global font*/
  color: #ffffff; /*-global font color */
  font-size: 1em; /*-global font size, good practice to use 'em units' */
  line-height: 1.4em; /*-global line height, (not sure reason for 1.4) */
  user-select: none; /*-as default make nothing selectable */
  -webkit-user-select: none; /*-as default make nothing selectable (apple specific attribute) */
  background-color: #464646; /*global background color*/
}

body{
    margin: .5em; /*creates space between content container and edge of viewport when width=100%*/
}

div.content-container{
  width: 100%; /*default behavior is for element to take 100% of width*/
  max-width: 650px; /*if available space is >650px width, no longer is 100%*/
  margin: 0 auto; /*auto margin for left and right allows element to be centered when width=650px*/
  border-radius: 12px; /* content window corners */
  background-color: #555555; /* content background color */
}

h1{
  line-height: 1.4em; /*does not inherit from <html> for some reason*/
  margin: 0; /*default margin is massive*/
  user-select: contain;
  -webkit-user-select: text;
}

a:link, a:visited {
  color: white; /*#75d5ff; /*global link color*/
  text-decoration: none;
}

a{
  user-select: contain;
  -webkit-user-select: text;
}

a.nav-create, a.nav-login, a.nav-logout, a.close-page{
  font-size: 2em;
  font-weight: 100;
  user-select: none;
  -webkit-user-select: none;
  float: right;
}

a.nav-login{
  color: rgb(48, 209, 88);
}
a.nav-logout{
  color: rgb(255, 69, 58);
}




