body{
}
img.feature{
	width:100%;
}

#map{
	height: 20em;
}

.content-grid{ 
	display: grid;
	grid-template-columns: 13fr 8fr 13fr;
	grid-template-areas:
		"a a a"
		"b b c"
		"d e e";
}
.content-grid div.top{
	padding: .5em;
	grid-area: a;
 	border-image: linear-gradient(to right, #464646, #464646, #393939, #464646, #464646) 30;
 	border-width: 0 0 1px 0;
  	border-style: solid;
}
.content-grid div.middle-left{
	padding: .5em;
	grid-area: b;
	aspect-ratio: 1/1;
}
.content-grid div.middle-right{
	padding: .5em;
	grid-area: c;
	border-image: linear-gradient(to top right, #393939, #464646, #464646) 30;
	border-width: 0 0 1px 1px;
	border-style: solid;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}
.content-grid div.bottom-left{
	padding: .5em;
	grid-area: d;
	border-image: linear-gradient(to bottom left, #393939, #464646, #464646) 30;
	border-width: 1px 1px 0 0;
	border-style: solid;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	text-align: right;
}
.content-grid div.bottom-right{
	padding: .5em;
	grid-area: e;
}