body{
}
img.feature{
	width:100%;
}

#map{
	height: 20em;
}

div{
	margin: 0 0 1em 0;
}

.content-grid{ 
	display: grid;
	grid-template-columns: 21fr 13fr;
	grid-template-areas:
		"a a"
		"b c"
		"d d";
	column-gap: 1em;
}
.content-grid div.top{ 
	grid-area: a;
}
.content-grid div.middle-left:first-of-type{
	grid-area: b;
}
.content-grid div.middle-right:last-of-type{
	grid-area: c;
	padding: 1em;
}
.content-grid div.bottom{
	grid-area: d;
}